/* @override 
	http://timac.local/~terrancepitre/Bockman-Forbes/css/style.css */

/* ===========================================
   Bockman + Forbes Main CSS
   Author: Terrance Pitre
   =========================================== */

/* CSS Imports
---------------------------------------------- */
@import url('boilerplate.css');
@import url('fonts.css');
@import url('jscroll.css');

/* @group Base Styles
---------------------------------------------- */
html { height: 100% }
body {
	font: 300 100%/1.5 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;    
    padding: 0;
    margin: 0;
    color: #444a52;
    height: 100%;
}
a {
	color: #00C957;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
a:hover,
a:focus,
a:active,
#main-nav ul li.nav-top a:hover {
    color: #F60;
    text-decoration: none;
    outline: 0;
}
h1, h2, h3 {
	letter-spacing: -1px;
	font-family: BitterRegular, Georgia, Times, serif;
}
h1 {
	margin: 10px 0 0;
	font-size: 1.8em;
}
h2, h3 {
	letter-spacing: 0;
}
h2 {
	font-size: 1.5em; /* 24 / 16 */
	margin: .5em 0 .3em;
}
p {
	margin: 1em 0;
}
.amp {
	font-family: "Goudy Old Style", "Palatino", "Book Antiqua", serif;
	font-style: italic;
	line-height: 1px;
}
.ul, .ol {
	padding-left: 16px;
	margin-left: 4px;
}
.ul li, 
.ol li { list-style: square; }

/* @end */

/* @group Main Styles 
---------------------------------------------- */
#container {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	min-width: 860px;
}

#main-header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	margin: 0 0 20px 0;
	border-top: 4px solid #444a52;
	padding: 20px 0 14px 0;
	overflow: hidden;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 3px 5px rgba(0,0,0,.2);
	box-shadow: 0 3px 5px rgba(0,0,0,.2);
}

.inner {
	margin: 0 auto;
	max-width: 1285px;
	min-width: 860px;
	padding: 0 3%;
	overflow: hidden;
	position: relative;
}

#main-header .inner {
	padding: 0;
}

#main-header h1 {
	margin: 0;
	float: left;
	margin-left: 2.85%;
	max-width: 460px;
	min-width: 350px;
	width: 35.79766%; /* 460 / 1285 */
}

#main-header small {
	color: #FF020D;
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
}

#main-header p {
	clear: both;
	margin-top: 11px;
	font-weight: bold;
}

#main-nav {
	float: right;
	margin-right: 3%;
}

#main-nav ul {
	overflow: hidden;
	margin: 12px 0 0 0;
}

#main-nav li {
	float: left;
	text-transform: uppercase;
	margin-right: 12px;
	width: 90px;
	font: bold 13px Helvetica, Arial, Geneva, sans-serif;
	letter-spacing: -1px;
}

#main-nav li.contact-link {
	margin-right: 0;
}

#main-nav li a {
	display: block;
	color: #000;
	padding: 2px 5px 2px 0px;
	border-bottom: 1px dotted #999;
}

#main-nav li a:hover,
#main-nav li a.selected {
	color: #F60;
	border-bottom: 1px dotted #ccc;
}

#main {
	margin: 96px 0 20px;
	max-width: 1300px;
}

#main .intro {	
	padding: 0;
	margin: 0 3%;
}

#main .intro h2 {
	text-transform: none;
	margin: 0 0 24px;
	line-height: 38px;
	padding-top: 10px;
	padding-bottom: 18px;
	border-bottom: 1px solid #eee;
}

/* @group Work Thumbs
--------------------------------------------- */

#work {
	text-align: center;
	margin: 0 3%;
}

#work ul {
	overflow: hidden;
	padding-left: 5px;
}

#work li.figure {
	display: block;
	float: left;
	width: 23.7%;
	margin: 1% 1.714286% 1.285714% 0;
	opacity: 1;
	border-bottom: 1px solid #dbdbdb;
	-webkit-transition: all .23s ease-in-out;
	-moz-transition: all .23s ease-in-out;
	-ms-transition: all .23s ease-in-out;
	transition: all .23s ease-in-out;
}

#work li.figure.end {
	margin-right: 0;
}

#work li.figure:hover {
	cursor: pointer;
}

#work li.figure:hover a {
	color: #F60;
}

#work li.figure.not-active {
	opacity: .6;
}

#work li.figure .figcaption {
	padding-bottom: 11px;
	opacity: 1;
	text-align: left;
}

#work li.figure .figcaption h2 {
	margin-bottom: 4px;
	font-size: 1.2em;
	display: block;
	width: 100%;
}

#work li.figure .thumb {
	line-height: 0;
	display: block;
	position: relative;
	overflow: hidden;
	opacity: 1;	
}

#work li.figure .thumb img {
	display: block;
	width: 100%;
}

#work li.figure .img-magnify {
	position: absolute;
	display: block;
	padding: 0;
	width: 16.6666%; /* 50 x 300 */
	height: 16.6666%; /* 50 x 300 */
	margin-left: -8.3333%; /* 16.6666 / 2 */
	margin-top: -8.3333%; /* 16.6666 / 2 */
	top: 50%;
	left: 50%;
	opacity: 0;
	text-align: center;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	transform:rotate(0deg);
	-webkit-transition: all .23s ease-in-out;
	-moz-transition: all .23s ease-in-out;
	-ms-transition: all .23s ease-in-out;
	transition: all .23s ease-in-out;
}

#work li.figure:hover .img-magnify {
	opacity: .6;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
}

#work li.figure .thumb .inset {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	left: 0;	
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,.65);
	-moz-box-shadow: inset 0 0 0px rgba(0,0,0,.65);
	box-shadow: inset 0 0 0px rgba(0,0,0,.65);
	-webkit-transition: all .23s ease-in-out;
	-moz-transition: all .23s ease-in-out;
	-ms-transition: all .23s ease-in-out;
	transition: all .23s ease-in-out;
}

#work li.figure:hover .thumb .inset {
	-webkit-box-shadow: inset 0 0 20px rgba(0,0,0,.75);
	-moz-box-shadow: inset 0 0 20px rgba(0,0,0,.75);
	box-shadow: inset 0 0 20px rgba(0,0,0,.75);
}

#work li.figure:hover .thumb {
	opacity: 1;
}

/* @end Work Thumbs */

/* @group Work Detail
--------------------------------------------- */

#work-detail {
	position: fixed;
	width: 100%;
	top: -1100px;
	opacity: 1;
	left: 0;
	z-index: 5;
	background-color: #fff;
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%); 
	background: -o-linear-gradient(top, rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%); 
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%); 
	background: linear-gradient(top, rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );*/
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 3px 5px rgba(0,0,0,.2);
	box-shadow: 0 3px 5px rgba(0,0,0,.2);
}

#work-detail .work-inner {
	margin: 78px auto 0;
	width: 100%;
	/*height: 740px;*/
	height: auto;
	overflow: hidden;
	padding-bottom: 2px;
	position: relative;
}

#work-detail a.close,
#work-detail a.hide {
	position: absolute;
	right: 6px;
	top: 16px;
	z-index: 10;
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background: url(../img/sprite-30px.png) no-repeat 0 -35px;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	transition: none;
}

#work-detail a.hide {
	right: 40px;
	background-position: 0 -70px;
}

#work-detail a.hide.show {
	background-position: 0 0;
}

#work-detail .work-slides {
	/*width: 66.92307%;*/ /* 870 / 1300 */
	/*height: 80%;*/
	height: 592px;
	float: left;
	width: 100%;
	overflow: auto;
	white-space: nowrap;
}

#work-detail .work-slides table {
	width: 100%;
	margin-left: -1px;
}

#work-detail .work-slides td {
	vertical-align: top;
	padding: 0 1px 1px;
}

#work-detail .work-slides td img {
	min-height: 580px;
	margin-bottom: 5px;
}

#work-detail .work-slides td.filler {
	vertical-align: middle;
}

#work-detail .work-slides td.filler img {
	min-height: 100px;
}

/*#work-detail .work-inner .short {
	border-bottom: 10px solid #818181;
}*/

#work-detail .work-info {
	position: absolute;
	background-color: rgba(255,255,255,.94);
	width: 28%; /* 364 / 1300 */
	padding: 2.4em 1.53846% 1.2em; /* 20 / 1300 */
	right: -700px;
}

#work-detail .work-info h1 {
	margin: 18px 0 2px;
	width: 79%;
}

#work-detail .work-info p {
	height: auto;
}

.bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: none;
	background-color: rgba(255,255,255,.8);
	width: 100%;
	height: 100%;
}

/* @end Work Detail */

/* @group Profile + Contact
--------------------------------------------- */

#profile,
#contact {	
	background-color: #26262c;
	background-color: rgba(38,38,44,.9);
	color: #fff;
	border-bottom: 2px solid #fff;
	padding: 90px 0 20px;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 3px 5px rgba(0,0,0,.2);
	box-shadow: 0 3px 5px rgba(0,0,0,.2);
}

#profile a.close,
#contact a.close {
	background-position: 0 -105px;
}

#profile .profile-desc {
	float: left;
	width: 48%;
	margin-right: 3%;
}

#profile .profile-desc h1 {
	margin-top: 7px;
}

#profile .summary {
	float: left;
	width: 23%;
	margin: 52px 2% 0 0;
}

#profile .summary .profile-img {
	white-space
}

#profile .summary ul {
	padding-left: 16px;
}

#profile .summary li {
	list-style: square;
	font-size: .89em;
}

#profile .profile-jack {
	margin-right: 0;
}

#contact {
	position: relative;
	height: 360px;
	padding: 0;
	width: ;
	margin-top: 50px;
}

#contact .inner {
	height: 100%;
}

#contact .inner a.close {
	top: 60px;
}

#contact .contact-info {
	position: absolute;
	width: 30%;
	z-index: 100;
	margin-left: 2.7%;
	bottom: 0;
	color: black;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.6);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.6);
	box-shadow: 0 0 10px rgba(0,0,0,.6);	
}

#contact .contact-info-inner {
	padding: 18px 6% 28px;
	background-color: #fff;
}

#contact .contact-info-inner p {
	margin-top: 0;
}

#contact .contact-info h1 {
	margin: 0;
	color: #fff;
	background-color: #26262c;
	padding: 6px 21px 6px 16px;
}

#contact #map {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#contact span.co-name,
#contact span.street,
#contact span.phone,
#contact span.fax {
	display: block;
}

#contact span.co-name {
	font-weight: 600;
}

/* @end Profile */

#main-footer {
	margin: 0;
	padding: 18px 0;
	clear: both;
}

#main-footer p.copyright {
	font-size: 11px;
	color: #666;
	clear: both;
}

/* @end */

/* @group Media Queries
--------------------------------------------- */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}
/* @end */

/* @group Print Styles
--------------------------------------------- */
@media print { 
    * {
        background: transparent !important;
        color: black !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }
    a,
    a:visited {
        color: #444 !important;
        text-decoration: underline;
    }
    a[href]:after { content: " (" attr(href) ")" }
    abbr[title]:after { content: " (" attr(title) ")" }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after { content: "" }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead { display: table-header-group }
    tr,
    img { page-break-inside: avoid }
    img { max-width: 100% !important }
}
/* @end */