/*CSS Reset*/
body, div, dl, dt, dd, li, pre,
form, fieldset, input, textarea, p, blockquote, th, td, button { margin: 0; padding: 0; }
/*h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-size: 100%; font-weight: normal; }*/
address, caption, cite, code, dfn, em, strong, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; } 
caption, th { text-align: left; font-weight: normal; font-style: normal; }
acronym, abbr, fieldset, img { border: 0;}
:focus { outline: 0; }

body {
	font: 12px/16px Helvetica, Arial, Geneva, sans-serif;
	padding: 0;
	color: #4a4a4a; 
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
a:link, a {color: #1b83af; text-decoration: none; -webkit-transition: color .3s ease-out; outline: none;}
a:visited {color: #1b83af;}
a:active {outline: none;}
a:hover {color: #155f85;}
p {margin: 0.33em 0 1em 0;}
pre, code, tt {font: 100% "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", monospace; margin: 1em 0;}
code, tt {border-bottom: 1px solid #E3E3E3; padding: 0 1px;}
pre code {border-bottom: 0;}
small {font-size: 87%;}
sup {font-size: smaller; vertical-align: 0.5em; line-height: 1px;}
hr {opacity: 0.4;}

h1, h2, h3 {
  	font-family: Helvetica, Arial, Geneva, sans-serif;
  	color: #0c4589;
	letter-spacing: -1px;
	font-weight: 600;
}
h1 {
	margin-bottom: 2px;
	/*text-transform: uppercase;*/
}
h2, h3 {
	font: 500 18px "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0;
}
.amp {
	font-family: "Goudy Old Style", "Palatino", "Book Antiqua", serif;
	font-style: italic;
}

#container {
	margin: 30px 10px 40px 40px;
}

#header {
	float: left;
	margin-top: 6px;
}

#header small {
	color: #FF020D;
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
}

#header ul#nav {
	overflow: hidden;
	margin-bottom: 10px;
}

#header #nav li {
	float: left;
	text-transform: uppercase;
	margin-right: 12px;
	font: 600 18px "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2", sans-serif;
}

#header p {
	clear: both;
	margin-top: 11px;
	font-weight: bold;
}

.box {
	float: left;
	background-color: #fff;
}

.col1 {
	width: 380px;
	margin: 0 20px 0 0;
	padding: 0;
}

.col2 {
	margin: 20px 18px 0 0;
	width: 180px;
	border: 1px solid #f4f4f4;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
}

.box-content {
	margin: 0 20px 20px;
}

.img {
	width: 100%;
	height: 150px;
	background-color: #eee;
}

.img-vert .img {
	height: 250px;
}

.img-horz .img {
	height: 100px;
}

.press .img {
	height: 120px;
}

.profile .img {
	height: 200px;
}

#footer address {

}

#footer p.copyright {
	font-size: 11px;
	color: #666;
	margin-top: 22px;
}












